In [35]:
import pandas as pd
df=pd.read_csv("C:/Users/manib/Downloads/solar_sales_dataset_4000_corrected_dates.csv")

In [36]:
df.tail()

,Date,Year,Region,Product_Category,Units_Sold,Unit_Price,Total_Sales
3995,30-12-2025,2025,South,Monitoring Systems,348,538.18,187286.64
3996,30-12-2025,2025,South,Hybrid Inverters,2,795.43,1590.86
3997,30-12-2025,2025,Central,Inverters,285,404.82,115373.70
3998,30-12-2025,2025,North,Solar Lights,68,120.79,8213.72
3999,30-12-2025,2025,Central,Monitoring Systems,298,1437.00,428226.00

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              4000 non-null   object
 1   Year              4000 non-null   int64
 2   Region            4000 non-null   object
 3   Product_Category  4000 non-null   object
 4   Units_Sold        4000 non-null   int64
 5   Unit_Price        4000 non-null   float64
 6   Total_Sales       4000 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 218.9+ KB

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              4000 non-null   object
 1   Year              4000 non-null   int64
 2   Region            4000 non-null   object
 3   Product_Category  4000 non-null   object
 4   Units_Sold        4000 non-null   int64
 5   Unit_Price        4000 non-null   float64
 6   Total_Sales       4000 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 218.9+ KB

In [39]:
df[df["Date"].isna()]

Empty DataFrame
Columns: [Date, Year, Region, Product_Category, Units_Sold, Unit_Price, Total_Sales]
Index: []

In [40]:
df["Date"] = pd.to_datetime(df["Date"],errors="coerce")

In [41]:
df['date_formatted']=df['Date'].dt.strftime('%Y-%m-%d')

In [27]:
df.isnull().sum()

Date                2400
Year                   0
Region                 0
Product_Category       0
Units_Sold             0
Unit_Price             0
Total_Sales            0
date_formatted      2400
dtype: int64

In [28]:
df.columns=df.columns.str.lower()
# df.columns=df.columns.str.replace(' ','_')

In [29]:
df.columns

Index(['date', 'year', 'region', 'product_category', 'units_sold',
       'unit_price', 'total_sales', 'date_formatted'],
      dtype='object')

In [30]:
df.head()

,date,year,region,product_category,units_sold,unit_price,total_sales,date_formatted
0,2023-01-01,2023,West,Solar Panels,102,1232.55,125720.10,2023-01-01
1,2023-01-01,2023,South,Solar Panels,296,755.52,223633.92,2023-01-01
2,2023-01-01,2023,North,DC Breakers,375,890.48,333930.00,2023-01-01
3,2023-01-01,2023,South,Monitoring Systems,282,665.37,187634.34,2023-01-01
4,2023-01-01,2023,Central,Inverters,428,82.43,35280.04,2023-01-01

In [31]:
import urllib
from sqlalchemy import create_engine

server = "SMB"
database = "solar_sales_review"

conn_str = (
    f"Driver=ODBC Driver 17 for SQL Server;"
    f"Server={server};"
    f"Database={database};"
    f"Trusted_Connection=yes;"
)

conn_url = urllib.parse.quote_plus(conn_str)

try:
    engine = create_engine(f"mssql+pyodbc:///?odbc_connect={conn_url}")
    conn = engine.connect()
    print("connected")
except Exception as e:
    print("Error:", e)

connected

In [32]:
df.to_sql("sales_data", con=engine, if_exists="replace",index=False)

70